
<div class="jumbotron jumbo">
  <h1 class="display-4">EAT DA BURGER</h1>
</div>
<div class ="row">

    {{!-- Burgers that have been created  --}}
    <div class="col-sm">

    {{#each burgersdata}}

    {{#unless devoured}}
    <div id="readyToDevour" class="card" style="width: 18rem;">
            <div class="card-body">
   <h5 class="card-title"><span class="badge badge-primary badge-pill">{{id}}</span> {{burger_name}}</h5>

    
    
   <a href="" data-id={{id}} class ="btn btn-primary devourBtn">Devour It!</a>
  </div>
</div>

    {{/unless}}
    {{/each}}

</div>

{{!-- Input to create burger --}}
<div class ="col-sm">
    <div class="card formCard" style="width: 18rem;">
<div class="card-body">
    <form>
<div class="form-group">
    <label for="exampleFormControlTextarea1">What burger would you like to create?</label>
    <input type="question" class="form-control burgerInput">
        <button type="submit" class="btn btn-primary createBTN">Create!</button>
  </div>
  </form>
</div>
  </div>
</div>

{{!-- Burgers that have been devoured --}}
<div class ="col-sm">
     

    {{#each burgersdata}}
    <div id="devoured" class="card" style="width: 18rem;">
    {{#if devoured}}

    <div class="card-body">
     <h5 class="card-title"><span class="badge badge-primary badge-pill">{{id}}</span> {{burger_name}}</h5>
       
    
    </div>
    {{/if}}
    {{/each}}

</div>
</div>
</div>